<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Project Management System for Gitlab</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <nav>
            <span><a title="Home" href="/">Home</a></span>
            <span><a title="Sprint" href="/sprint">Sprint</a></span>
            <span><a title="Review" href="/review">Review</a></span>
            <span><a title="Issues" href="/issues">Issues</a></span>
            <% if (user) { %>
                <span><a title="Logout" href="/users/logout">Logout</a></span>
            <% } else { %>
                <span><a title="Login" href="/users/login">Login</a></span>
            <% } %>
        </nav>

        <article>
            <% if (success) { %>
                <div><%= success %></div>
            <% } %>
            <% if (error) { %>
                <div><%= error %></div>
            <% } %>
