<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Project Management System for Gitlab</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nv.d3.css" />
    <script src="/javascripts/d3.v3.min.js"></script>
    <script src="/javascripts/nv.d3.min.js"></script>
  </head>
  <body>
    <header>
      <div>
        <% if (user) { %>
        <div class="welcome">
          Welcome back <%= user %>!
        </div>
        <% } %>
        <span style="font-size:32px; padding-left:20px"><%= title %></span>
      </div>
    </header>
    <nav>
      <li>
        <a title="My Tasks" href="/">My Tasks</a>
      </li>
      <li>
        <a title="Sprints" href="/sprints">Sprints</a>
        <ul>
          <li><a title="Overview" href="/sprints">Overview</a></li>
          <li><a title="Add new Sprint" href="/sprints/new">Add new Sprint</a></li>
          <li><a title="Retrospective" href="/sprints/retro">Retrospective</a></li>
        </ul>
      </li>
      <li>
        <a title="Reviews" href="/reviews">Reviews</a>
      </li>
      <li>
      <a title="Issues" href="/issues">Issues</a>
        <ul>
          <li><a title="Overview" href="/issues">Overview</a></li>
          <li><a title="Open Issues" href="/issues/openall">Open Issues</a></li>
          <li><a title="My Issues" href="/issues/my">My Issues</a></li>
          <li><a title="Assigneed Issues" href="/issues/assigneed">Assigneed To Me</a></li>
        </ul>
      </li>
      <% if (user) { %>
      <li><a title="Logout" href="/users/logout">Logout</a></li>
      <% } else { %>
      <li><a title="Login" href="/users/login">Login</a></li>
      <% } %>
    </nav>
    <content>
      <% if (success) { %>
        <div><%= success %></div>
      <% } %>
      <% if (error) { %>
        <div><%= error %></div>
      <% } %>
