<%- include header %>
<section>
  <h2>My Open Issues</h2>
</section>
<section>
  <h2>My Assignned Issues</h2>
</section>
<section>
  <h2>Ongoing Reviews</h2>
</section>
<section>
  <h2>My Contributions</h2>
  <!-- my committs, my usage rate of gitlab, and contribution rate of whole product -->
</section>
<%- include footer %>
