<%- include header %>
<section>
  <p>Open Issues: <%= issues.length %></p>
</section>
<section>
  <chart id="pieAuthor">
    <h2>Issues by Author</h2>
    <svg class="pieChart"></svg>
  </chart>
  <chart id="pieProject">
    <h2>Issues by Project</h2>
    <svg class="pieChart"></svg>
  </chart>
  <chart id="pieCategory">
    <h2>Issues by Category</h2>
    <svg class="pieChart"></svg>
  </chart>
  <chart id="piePriority">
    <h2>Issues by Priority</h2>
    <svg class="pieChart"></svg>
  </chart>
</section>
<script>
drawPieChart('#pieAuthor svg', dataByAuthor());
drawPieChart('#pieProject svg', dataByProject());
drawPieChart('#pieCategory svg', dataByCategory());
drawPieChart('#piePriority svg', dataByPriority());

function drawPieChart(chartId, chartData) {
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .showLabels(true);

    // draw pie Chart
    d3.select(chartId)
        .datum(chartData)
        .transition().duration(350)
        .call(chart);

    return chart;
  });
}

function dataByAuthor() {
  return _dataBy(function(issue){
    return issue.author.name;
  });
}

function dataByProject() {
  return _dataBy(function(issue){
    return issue.project;
  });
}

function dataByCategory() {
  return _dataBy(function(issue){
    return issue.category || 'unknown';
  });
}

function dataByPriority() {
  return _dataBy(function(issue){
    return issue.priority || 'unknown';
  });
}

function _dataBy(keyFunc) {
  var issues = <%- JSON.stringify(issues) %>;
  var dataDict = {};
  var data = [];

  issues.forEach(function(issue) {
    if(dataDict[keyFunc(issue)]) {
      dataDict[keyFunc(issue)] += 1;
    } else {
      dataDict[keyFunc(issue)] = 1;
    }
  });

  Object.keys(dataDict).forEach(function(k) {
    data = data.concat({'label': k, 'value': dataDict[k]});
  });


  return data;
}
</script>
<%- include footer %>
